<p style="color: green"><%= notice %></p>

<div class="container d-flex align-items-center flex-column">
  <div class="card p-1 shadow w-100">
  <table class="table table-striped m-0">
    <thead class="table-dark text-center">
      <tr>
        <th colspan="2"><h2>Shedule</h2></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Day</td>
        <td><%= @shop_schedule.day %></td>
      </tr>
      <tr>
        <td>Opening Time</td>
        <td><%= @shop_schedule.opening_time && @shop_schedule.opening_time.strftime('%H:%M:%S') %></td>
      </tr>
      <tr>
        <td>Half Time</td>
        <td><%= @shop_schedule.half_time && @shop_schedule.half_time.strftime('%H:%M:%S') %></td>
      </tr>
      <tr>
        <td>Open After Half Time</td>
        <td><%= @shop_schedule.open_after_half_time && @shop_schedule.open_after_half_time.strftime('%H:%M:%S') %></td>
      </tr>
      <tr>
        <td>Closing Time</td>
        <td><%= @shop_schedule.closing_time && @shop_schedule.closing_time.strftime('%H:%M:%S') %></td>
      </tr>
      <tr>
        <td>Day Status</td>
        <td><%= @shop_schedule.day_status %></td>
      </tr>
      <tr>
        <td>Shop</td>
        <td><%= @shop_schedule.shop && @shop_schedule.shop.name %></td>
      </tr>
      
    </tbody>
  </table>
  </div>


  <% if admin_signed_in? %>
    <div class="d-flex mt-3">
      <%= link_to "Edit schedule", edit_shop_schedule_path(@shop_schedule), class:"btn btn-warning btn-sm me-2" %>
      <%= link_to "shops", root_path, class:"btn btn-dark btn-sm me-2" %>

      <%= button_to "Destroyschedule", @shop_schedule, method: :delete, class:"btn btn-danger btn-sm" %>
    </div>
  <% end %>
</div>
